.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* .shiftinglogin {
  margin-top: 250px !important;
} */

.loginform {
  margin-top: 100px;
}
.imagelogin {
  height: 236px;
  width: 344px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebarstyle {
  height: 690px;
  background: #eae9e9;
  box-shadow: 3px 1px 3px silver;
  padding-top: 0px;
}
.imgSidebar {
  height: 140px;
  width: 108%;
}
.down {
  margin-top: 20px;
}
.sidebarlist {
  list-style: none;
  text-align: left;
  line-height: 50px;
  padding-bottom: 30px;
  width: 107%;
}
.sidebarlist a {
  text-transform: none;
}
.activeli {
  background: white;
  color: black;
}
.sidebarlist,
.sidebarlist li {
  padding: 0;
  margin: 0;
}
.sidebarlist li {
  width: 100%;
  color: black;
}
.sidebarlist :hover {
  background: white;
  cursor: pointer;
}
.sidebarlist li a {
  text-decoration: none;
  padding: 0 16px;
  color: black;
  display: block;
}
li.link-wrapper > a.activeli {
  background: white;
  color: black;
}
.backred {
  background: red;
}
.down {
  margin-top: 20px;
}
.addinterestbtn {
  float: right;
  margin-right: 40px;
}
